body{
	background: #010E8C;
}

#damero{
	background:#FFFFFF;
	height: 400px;
	width: 400px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	
}

#damero div{
	float: left;
	height: 50px;
	width: 50px;
}


#damero div:nth-child(n+1):nth-child(even):nth-child(-n+8),
#damero div:nth-child(n+17):nth-child(even):nth-child(-n+24),
#damero div:nth-child(n+33):nth-child(even):nth-child(-n+40),
#damero div:nth-child(n+49):nth-child(even):nth-child(-n+56),
#damero div:nth-child(n+9):nth-child(odd):nth-child(-n+16),
#damero div:nth-child(n+25):nth-child(odd):nth-child(-n+32),
#damero div:nth-child(n+41):nth-child(odd):nth-child(-n+48),
#damero div:nth-child(n+57):nth-child(odd):nth-child(-n+64)
{
	background:#000000;
}
